$d-gray: hsl(217, 19%, 35%);    // Very Dark Grayish Blue:
$l-gray: hsl(210, 46%, 95%);    // Light Grayish Blue: hsl(210, 46%, 95%)
$gray: hsl(212, 23%, 69%);      // Grayish Blue: hsl(212, 23%, 69%)
$d-blue: hsl(214, 17%, 51%);    // Desaturated Dark Blue
